@import '../fonts.css';

.btn-container {
    text-align: center;
}
.btn-base {
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border-radius: 3rem;
    font-family: 'Sansita', sans-serif;
}
.btn-navbar {
    padding: 1rem;
    background-color: white;
    color: #333;
    font-size: 1rem;
}
.btn-form {
    color: white;
    background-color: #333;
    /*   color: #333; */
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.btn-loadmore {
    background-color: white;
    color: #333;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.btn-base:hover {
    transform: scale(1.05);
}
