@import '../fonts.css';

.info {
    color: white;
    font-size: 5rem;
    font-family: 'Sansita', sans-serif;
    text-align: center;
    background-color: rgb(173, 167, 167);
    max-width: 500px;
    margin: 2rem auto;
}
