/* stats component */
/* @import '../fonts.css'; */
.stats {
    max-width: 500px;
    max-height: 500px;
    padding: 2rem;
    margin: 0 auto;
    opacity: 0.5;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.31);
    border-radius: 0.5rem;
    font-family: 'Sansita', sans-serif;
}
.stats-bar {
    height: 1rem;
    border-radius: 1rem;
}
.stats-row {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.stats-row > div:first-child {
    width: 7rem;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.2rem 0;
    margin-right: 1rem;
}
.stats-row > div:nth-child(2) {
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 1rem;
    width: 2rem;
    text-align: center;
}
.footer > div:first-child {
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: capitalize;
    font-family: 'Sansita', sans-serif;
    letter-spacing: 0.07rem;
    text-shadow: #fff 0px 0px 2px, rgb(208, 177, 177) 0px 0px 10px,
        #fff 0px 0px 15px, 0px 10px 15px rgba(64, 59, 60, 0);
    margin-bottom: 1rem;
}
