.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}
.form {
    background-color: white;
    color: #333;
    font-family: 'Sansita', sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgb(183, 167, 167);
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.form-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-field label {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.form-field input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Sansita', sans-serif;
    letter-spacing: 0.05rem;
}
input,
textarea,
select {
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 0.02rem;
    color: #363636;
}
.register-container {
    margin-top: 1rem;
}
.register-container p {
    color: rgb(30, 30, 202);
}
